.counter{
    display:flex;
    flex-direction:row;
    color:white;
    
    justify-content: space-between;
    

}

.itemCounter{
    border: 1px solid yellow;
    text-align: center;
    width:25px;
    font-weight: 600;
    background-color: white;
    color: #D90143;
    padding: 1px 10px;
    margin-left:1px;
    border-radius: 2px;
    

}
.add-to-cart{
    color: #D90143; 
}

.itemNumber{
background-color:#52B96D!important;
color:white!important;
border-width: 0px!important;
}

.BuyButton{
    color:#31B5C2;
    width:150px;
}

.itemAction{
    cursor:pointer;
}

.containerCounter{
    display:flex;
    flex-direction:row;
    height:30px;
    
}