.menuLink{
    display:block!important;
    padding: 15px!important;  
    color:rgba(0,0,0,.5)!important;
    text-decoration:none!important;  
}

.selectedLink{background-color:yellow;}
.form-menu{ 
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;}


 .main-menu{
     display:flex;
     justify-content:space-between!important;
 } 
 
 .navbar-menu{
     flex-grow:0!important;
     width:auto;
 }